<configuration>

    <appender type="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{50}.%M:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="votingConsole" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %boldMagenta(%class{25}.%M:%L) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger>name="ru.bacaneco.voting" level="debug"
        <appender-ref ref="votingConsole"/>
    </logger>

    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>